{{#partial "content"}}
<div id="both">
<img src="https://i.imgur.com/OupOL6p.gif" ><br>
<p id="both"><br><br><br><br>You have successfully Submitted your information
<br>
Now you are connected to Agent, you will be contacted soon!<br>
<strong>
Thank you!!!</strong>
<br><br>
<a href="/">back</a></p>

</div>
{{/partial}}
{{> layout.hbs}}
