{{#partial "content"}}
<body style="background-color:aliceblue;">


<h1>HOUSES TO BUY!!</h1>
<div>
<P><a><img src="/images/house.jpg"></a></P>
<p>Nyarutarama/Gasabo</p>
<p>House for sale</p>
<p>Purpose: habitation</p>
</div><br><br>
<div>
<P><a><img src="/images/house2.jpg"></a></P>
<p>Kagarama/Kicukiro</p>
<p>House for sale</p>
<p>All right let's give it a try</p>
</div><br><br>
<div>
<P><a><img src="/images/house3.jpg"></a></P>
<p>Kibagabaga/Gasabo</p>
<p>House for sale</p>
<p>Purpose: habitation</p>
</div><br><br>
<div>
<P><a><img src="/images/house4.jpg"></a></P>
<p>Kanombe/Kicukiro</p>
<p>House for sale</p>
<p>Purpose: habitation</p>
</div><br><br>

<button>SQUAD!!</button>
</body>
{{/partial}}

{{> layout.hbs}}