{{#partial "content"}}
<body style="background-color:aliceblue;">


<h1>HOUSES TO BUY!!</h1>
<div class="row">
    <div class="col-md-6">
        <div>
            <P><a><img src="/images/house.jpg"></a></P>
            <p>Nyarutarama/Gasabo</p>
            <p>House for sale:RWF 150,000,000 </p>
            <p>1 living room, a kitchen, 5 bed rooms, 4 bath rooms.</p>
            <p>Purpose: habitation</p>
        </div><br><br>
        <div>
            <P><a><img src="/images/house2.jpg"></a></P>
            <p>Kagarama/Kicukiro</p>
            <p>House for sale: RWF 65,000,000</p>
            <p>1 living room, a kitchen, 5 bed rooms, 2 bath rooms.</p>
            <p>All right let's give it a try</p>
        </div><br><br>
        <div>
            <P><a><img src="/images/house3.jpg"></a></P>
            <p>Kibagabaga/Gasabo</p>
            <p>House for sale: RWF 500,000,000</p>
            <p>2 living room, a kitchen, 5 bed rooms, 6 bath rooms.</p>
            <p>Purpose: habitation</p>
        </div><br><br>
        <div>
            <P><a><img src="/images/house4.jpg"></a></P>
            <p>Kanombe/Kicukiro</p>
            <p>House for sale:RWF 250,000,000</p>
            <p>1 living room, a kitchen, 4 bed rooms, 3 bath rooms.</p>
            <p>Purpose: habitation</p>
        </div><br><br>
    </div>
<div class="col-md-6"></div>
</div>

</body>
{{/partial}}

{{> layout.hbs}}