<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife-Tracker{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>


</head>


<ul class="nav nav-tabs">
    <li role="presentation" class="active" style="background-color:red"><a href="/add">Add form</a></li>
    <li role="presentation"><a href="/">Result</a></li>

</ul>

{{#block "content"}}
{{/block}}





{{#block "footer"}}
    </body>
    </html>
{{/block}}