
<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Bella Cassa{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    <style>

    </style>

</head>
<body>

<div class="container">
    <!--begin main template-->
    {<div class="  navigation">
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href='/newanimal'>Buy</a></li>
                <li><a href='/animals'>Rent</a></li>
                <li><a href='/addsighting'><img src="resources/"></a> </li>
                <li><a href='/addsighting'>List your rental</a> </li>
                <li><a href='/addsighting'>Contact</a> </li>
            </ul>
        </div>
    </nav>
</div>}


    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

<div class="footer">
    <p>Hero Squad © 2019</p>
</div>


<!--end main template-->
{{#block "footer"}}




    </body>
    </html>
{{/block}}